
/*sets the page margin and border*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: monospace;
}


/*Page background color*/
body{
        background: linear-gradient(#5c0808, #0a0000);
        position: fixed;
       
}

/*sparks for decorative effect*/
.sparks{
    object-position: 900px 50px;
    height: 100px;
    width: 1350px;
    position: fixed;
    
}
/*fireworks easter egg*/
.firework {
   position: fixed;
   left: 125px;
   width: 100px;
   height: 50px;
   z-index: 100;
}

/*profile image*/ 
.profileImage{
    position: relative;
    
}


/*header box*/ 
.header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(107, 1, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*name on header*/
.logo{
    font-size: 25px;
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    z-index: 101;
}

/*Name animation on startup*/
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(107, 1, 1);
    animation: showRight 1s ease forwards;
    
    
}
/*rest of stuff on header*/
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-left: 35px;
}

/*hover/ current effect*/
.navbar a:hover,
.header a.active{
    font-size: 18px;
    color: crimson;
    text-decoration: none;
    font-weight: 300;
    margin-left: 35px;
}

/*base for all text besides header*/ 
.home{
    font-weight: 100;
    color: wheat;
    
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: relative;
    text-align: center;
    margin-top: -80px;
    
}
.info {
    background: #0a00006a;
    border-radius: 1em;
    align-items: center;
    text-align: center;
    position: relative;
    transform: translateX(60%);
}


/*hompage welcome*/
.title{
    font-size: 20px;
    -webkit-text-stroke: 1px brown;
    color: whitesmoke;
    
}
.detail{
    margin-top: 50px;
    margin-bottom: 80px;
    color: white;
}

@keyframes showRight{
    100%{
        width: 0;
        
    }
}
@keyframes showWelcome{
    from { width: 0; }
    to { width: 100%; }
}
