@import url(https://fonts.google.com/share?selection.family=Madimi+Ones);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: monospace;
}



body{
        background: linear-gradient(#5c0808, #0a0000);
       
}

.sparks{
    object-position: 900px 50px;
    height: 100px;
    width: 1350px;
    
}
.firework {
   position: fixed;
   left: 125px;
   width: 100px;
   height: 50px;
   z-index: 100;
}
.profileImage{
    position: relative;
    
    left: -400;
    bottom: -100px;
    width: 400px;
    height: 400px;
    transition: 2s;
    animation: zoomIn 20s ease forwards, floatImage 20s ease-in-out infinite;
    
    animation-delay: 1s,1.5s;
    
    
}
.profileImage:hover{
   
    opacity: 0.4;
    
}
.header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(107, 1, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    z-index: 101;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(107, 1, 1);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-left: 35px;
}
.navbar a:hover,
.header a.active{
    font-size: 18px;
    color: crimson;
    text-decoration: none;
    font-weight: 300;
    margin-left: 35px;
}

.home{
    font-weight: 100;
    color: wheat;
    height: 60vh;
    width: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
   
    position: relative;
    right: 100px;
    bottom: 10px;
   
    
}
.home p{
   
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 800px;
    width: 50vh;
    bottom: 30px;
    text-align: center;
    
    
}
.home h1{
    font-size: 35px;
    
    color:rgb(230, 220, 220);
    width: 600px;
    position: relative;
    left: 125px;
    bottom: -40px;
    font-weight: 2000;
     text-wrap: nowrap;
    
}
 
.home h3{
    font-size: 20px;
    font-weight: 3.2rem;
    color: transparent;
    -webkit-text-stroke: 1px white;
    
    position: relative;
    left: 225px;
    bottom: -40px;

    
}
.home-content .btn-box{
    
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 750px;
    bottom: 40px;
    
    
}
.home-content p{
    
    font-size: 16px;
    margin: 20px 0 60px;
    
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: gray;
    border: 2px solid orange;
    border-radius: 8px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}
.btn-box a:nth-child(1) {
    background: black;
    
}
.btn-box a:nth-child(2) {
    color: maroon;
    background: gray;
}
 
.btn-box a:nth-child(3) {
    color: black;
    background: orangered;
    
}
.btn-box a:nth-child(2)::before {
    background: maroon;
}
.btn-box a:nth-child(3)::before {
    background: black;

}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .5s;
    overflow: hidden;

}
.btn-box a:hover:before{
    width: 100%;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
        
        
        
    }
    10%{
        
        transform: rotateY(180deg);
        transform: translateY(-50px);
    }
    20%{
        transform: translateY(0);
        transform: rotateY(180deg);
        
    }
    30%{
        
        transform: translateY(-50px);
        
    }
    
    40%{
        transform: translateY(0);
        
    }
    50%{
        
        
        transform: translateY(-50px);
        
    }
    60%{
        transform: rotateY(180deg);
        transform: translateY(0);
        
       
        
    }
    70%{

        
        transform: rotateY(180deg);
        transform: translateY(-50px);
        
    }
    80%{
        
        
        transform: translateY(0);
    }
    90%{
        transform: translateY(-50px);
        
    }
    
    100%{
        transform: translateY(0);
        
        
    }
}
@keyframes showRight{
    100%{
        width: 0;
        
    }
}
@keyframes showWelcome{
    from { width: 0; }
    to { width: 100%; }
}
